.app{
  margin: 2rem;
  display: flex;
}

.header {
  font-size: xx-large;
  margin: 1rem;
}
.articles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: pink;
  color: black;
  padding: 1.5rem;
  margin: 1rem;
  /* border-radius: 1em; */
}

.article > H2 {
  font-weight: 800;
  margin: 0;
}
.link {
  font-weight: 800;
  color: gray;
}
.link:hover {
  color: black;
}

.published {
  font-size: smaller;
  font-style: italic;
}

.description {
  font-weight: 300;
}

.error {
  margin: 1rem;
}

footer {
  background-color: black;
  height: 50px;
}

footer:hover{
background-color: rgb(40, 39, 39);
cursor: pointer;
}
footer > a {
  padding: 1rem;
  text-decoration: none;
  font-size: small;
  color: pink;
}

@media screen and (max-width: 768px) {
  .articles {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 500px) {
  .articles {
    grid-template-columns: 1fr;
  }
  .header {
    font-size: x-large;
  }
}
@media screen and (max-width: 400px) {
  .articles {
    grid-template-columns: 1fr;
  }
  .header {
    font-size: large;
  }
}
  
